<div class="form-group" [ngClass]="{'has-error':input.invalid && (input.dirty || input.touched),'has-success':input.valid && (input.dirty || input.touched)}">
    <label class="control-label" [for]="name">{{label}}</label>
    <input class="form-control" #input="ngModel" [(ngModel)]="value" [name]="name" [type]="type" [placeholder]="placeholder" [readonly]="readonly" [disabled]="disabled" [required]="required" [min]="min" [max]="max" [minlength]="minlength" [maxlength]="maxlength"
        [pattern]="pattern" (blur)="onBlur()" />
    <div class="help-block">
        <span *ngIf="input.errors?.required">Required</span>
        <span *ngIf="input.errors?.min">The minimum value must be {{min}}</span>
        <span *ngIf="input.errors?.max">The maximum value must be {{max}}</span>
        <span *ngIf="input.errors?.minlength">The minimum character length must be {{minlength}} </span>
        <span *ngIf="input.errors?.maxlength">The maximum character length must be {{maxlength}} </span>
        <span *ngIf="input.errors?.pattern">It is not a valid value for {{label}}</span>
    </div>
</div>