<div class="row">
    <div class="col-md-12">
        <ss-video-player #ssvp="ss-video-player" [config]="playerConfig" [sources]="videoSources"></ss-video-player>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-xs-1"></div>
    <div class="col-sm-8 col-xs-10">
        <h2 class="text-center">Video Gallery</h2>
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item" *ngFor="let vs of videoSources; let i = index;" (click)="ssvp.play(i)">{{vs.title}} <button *ngIf="videoSources.length > 0" class="btn btn-icon-only btn-danger btn-xs pull-right" (click)="removeVideoSource(i)"><i class="fa fa-times"></i></button></a>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-2 col-xs-1"></div>
    <div class="col-sm-8 col-xs-10">
        <form #videoAddingForm="ngForm" class="form-horizontal" (submit)="addVideoSource(videoSource)" novalidate>
            <ss-input [(ngModel)]="videoSource.title" name="title" type="text" label="Title" placeholder="Enter a title for the video" minlength="3" required></ss-input>
            <ss-input [(ngModel)]="videoSource.source" name="source" type="text" label="Source URL" placeholder="Enter a url for the video" pattern="(http|ftp|https)://[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:/~+#-]*[\w@?^=%&amp;/~+#-])?" required></ss-input>
            <ss-input [(ngModel)]="videoSource.poster" name="poster" type="text" label="Poster URL" placeholder="Enter a url for the video poster" pattern="(http|ftp|https)://[\w-]+(\.[\w-]+)+([\w.,@?^=%&amp;:/~+#-]*[\w@?^=%&amp;/~+#-])?"></ss-input>
            <ss-input [(ngModel)]="videoSource.initialTime" name="initialTime" type="number" label="Initial Time" placeholder="Enter a starting time for the video in seconds" min="0"></ss-input>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success pull-right" [disabled]="videoAddingForm.invalid"><i class="fa fa-plus"></i> Add</button>
                </div>
            </div>
        </form>
    </div>
</div>