<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
        aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="video-player">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    Player
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="video-statistics">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Statistics
                </a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="my-2">
        <router-outlet></router-outlet>
    </div>
</main>