.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 50px;
    text-align: center;
    padding: 15px;
    color: #999;
    z-index: 1;

    a {
        color: aqua;
    }
}
